.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  display: inline-block;
  width: 30%;
  left: 0;
  height: calc(100vh - 100px);
  border-right: 1px solid #ccc;
  float: left;
  margin-right: -11px;
}

header {
  height: 100px;
  border-bottom: 1px solid #ccc;
}

header h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 30px;
}
.main-view {
  display: inline-block;
  width: 69%;
  height: calc(100vh - 100px);
  overflow: scroll;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sidebar li {
  border: 1px solid #ccc;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

li.selected {
  background: aqua;
}

.main-view .note-item {
  border: 1px solid #ccc;
  padding: 20px 10px;
  height: 100px;
}

.note-item {
  position: relative;
}

.note-item h2 {
  margin: 0;
}
.note-item a {
  float: left;
}

.note-item div {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
